<!DOCTYPE html>
<html>
<head>
    <title>Métricas de Core Web Vitals</title>
</head>
<body>
    <h2>Métricas de Core Web Vitals para Móvil</h2>
    <p>LCP (Largest Contentful Paint) para móvil: {{ lcp_mobile }}</p>
    <p>FID (First Input Delay) para móvil: {{ fid_mobile }}</p>
    <p>CLS (Cumulative Layout Shift) para móvil: {{ cls_mobile }}</p>
    <p>Performance Score para móvil: {{ performance_score_mobile }}</p>

    <h2>Métricas de Core Web Vitals para Escritorio</h2>
    <p>LCP (Largest Contentful Paint) para escritorio: {{ lcp_desktop }}</p>
    <p>FID (First Input Delay) para escritorio: {{ fid_desktop }}</p>
    <p>CLS (Cumulative Layout Shift) para escritorio: {{ cls_desktop }}</p>
    <p>Performance Score para escritorio: {{ performance_score_desktop }}</p>

    <!-- Puedes agregar estilos CSS personalizados aquí para dar formato a tus métricas -->

</body>
</html>
